// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #027BE3;
$secondary : #26A69A;
$accent    : #9C27B0;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;

$bgheader   : #08090A;
$white-smoke: #F4F7F5;
$davys-grey : #575A5E;
$text-dark  : #1c1c1c;

$ff1       : 'Oswald', sans-serif;
$ff2       : 'Anton', sans-serif;
$ff4       : 'Source Sans Pro', sans-serif;

$min-width  : 320px;
$max-width  : 1920px;
$min-font   : 14px;
$max-font   : 16px;